//
//  Config-Debug.xcconfig
//  DeepSeek Alamofire
//
//  Created by Ильяс on 06.11.2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_KEY = 4PkMevkmKfWBB5nvFrZvVMlGU2B1-_Zel_tbcOPJ4vA
API_BASE_URL = https:/api.unsplash.com/photos/random
