//
//  Config-Release.xcconfig
//  DeepSeek Alamofire
//
//  Created by Ильяс on 05.11.2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_KEY = your_production_api_key_here
API_BASE_URL = https://api.production.example.com
